.footer {
	background-color: #2f303a;
	padding: 60px 0;
	&__container {
		text-align: center;
	}

	&__social {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 60px;
		@media screen and (min-width: 768px) {
			margin: 0;
			width: 50%;
		}
		@media screen and (min-width: 1200px) {
			width: 25%;
			text-align: start;
		}
	}

	&__address {
		margin: 0 5px;
		@media screen and (min-width: 768px) {
			margin: 0;
			width: 50%;
		}
		@media screen and (min-width: 1200px) {
			width: 25%;
		}
	}
}



.title-footer {
	font-family: "Roboto";
	color: $title-light;
	font-weight: 700;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
	.footer__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media screen and (min-width: 1200px) {
	.footer__container {
		justify-content: space-between;
	}
}
