.clients {
  &__container {
    // padding: 94px 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // margin-top: -15px;
    // margin-right: -15px;
    // margin-bottom: -15px;
    // margin-left: -15px;
    gap: 30px;
  }
  &__column {
    // margin-top: 15px;
    // margin-right: 15px;
    // margin-bottom: 15px;
    // margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100% - 60px)/2);
    min-width: 170px;
    height: 92px;
    @media screen and (min-width: 768px){
      // flex-basis: calc((100% - 60px)/4);
      flex: 1 1 25%;
    }
    @media screen and (min-width: 1200px){
      // flex-basis: calc((100% - 60px)/8);
      flex: 1 1 10%;
    }
  }
  &__link {
    border: 1px solid #afb1b8;
    transition: border $transition-duration $transition-timing-function;
    &:hover,
    &:focus {
      border: 1px solid #2196f3;
    }
    &:hover .clients__icon,
    &:focus .clients__icon {
      fill: #2196f3;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  &__icon {
    fill: #afb1b8;
    transition: fill $transition-duration $transition-timing-function;
  }
}

