.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-team-light;
  &__container {}
  &__list {
    @media (min-width: 768px){
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }
  }
  &__item {
    @media (min-width: 768px){
      width: calc(50% - 30px);
      margin: 15px;
    }
    @media (min-width: 1200px){
      width: calc(25% - 30px);
    }
    display: inline-block;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__info {
    padding: 20px;
  }
}

.info-team {
  text-align: center;
  padding: 30px 10px 24px 10px;
  &__title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }
  &__profesion {
    color: $most-of-color-text;
    font-size: 16px;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
  }
  &__list-social {
    justify-content: center;
  }
}

.team__image {
  img{
    height: auto;
  }
}