.column-category {
  @media screen and (min-width: 768px) {
    display: flex;
  } 
  &__link {
    display: flex;
    flex-direction: column;
    transition: box-shadow $transition-duration $transition-timing-function;
    &:hover .column-category__active::after,
    &:focus .column-category__active::after {
      top: 0;
    }
    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }
}

.column-category__active {
  position: relative;
  overflow: hidden;
  min-height: 294px;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: top $transition-duration $transition-timing-function;
  }
  &:hover .column-category__text,
  &:focus .column-category__text  {
    top: 0;
  }
}
.column-category__image {
  display: block;
  width: 100%;
  height: 100%;
}
.column-category__text {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(28 / 18 * 100%);
  letter-spacing: 0.54px;
  z-index: 2;
  transition: top $transition-duration $transition-timing-function;
}



.column-category__block-text {
  flex: 1 1 100%;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 20px 24px;
}
.column-category__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18 * 100%);
  letter-spacing: 0.06em;
  color: $header-color-dark;
}
.column-category__subtitle {
  font-size: 16px;
  line-height: calc(30 / 16 * 100%);
  color: $most-of-color-text;
}