// Кнопки
%btn {
  display: flex;
  font-family: Roboto;
  min-height: 50px;
  padding: 0 32px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 14 * 100%);
  letter-spacing: 0.06em;
  color: $background-light;
  background-color: $brend-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color $transition-duration
    $transition-timing-function;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.hero__btn {
  @extend %btn;
}
.form-button {
  @extend %btn;
  padding: 0 32px;
}
.footer__btn {
  @extend %btn;
}

// -----------------------------------------------------------

