// :root {
//   --most-of-color-text: #757575;
//   /* ---------колір-тексту-світлий--- */
//   --header-color-light: #ffffff;
//   --title-light: #ffffff;
//   --logo-light: #ffffff;



// --color-------------------------
$logo-light: #ffffff;
$color-logo: #2196F3;
$brend-color: #0073ff;
//--transition--------------------
$transition-duration: 500ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
/* ---------колір-фону-світлий--- */
$background-light: #ffffff;
$background-team-light: #f5f4fa;
/* ---------колір-фону-темний--- */
$background-dark: #2f303a;
$background-team-dark: #2f303a;
/* ---------колір-тексту-світлий--- */
$header-color-light: #ffffff;
$title-light: #ffffff;

/* ---------колір-тексту-темний--- */
$header-color-dark: #212121;
$title-dark: #212121;
$logo-dark: #000000;

// =================
$most-of-color-text: #757575;