/* --------Модальне вікно------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  pointer-events: fill;
  opacity: 1;
  transition: opacity $transition-duration
      $transition-timing-function,
  transform $transition-duration $transition-timing-function;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(0%, 0%) scale(0.5);
}
.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  padding: 40px;
  max-width: 528px;
  border-radius: 4px;
  background-color: #ffffff;
  transition: transform $transition-duration
    $transition-timing-function;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(179, 179, 179, 0.582);
}
.close-svg {
  width: 30px;
  height: 30px;
}
.close-svg svg {
  width: 100%;
  height: 100%;
}
.form-text {
  text-align: center;
  color: $title-dark;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
