/* -----inputs------ */
.modal-inputs {
  margin-bottom: 20px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
  margin-bottom: 10px;
  position: relative;
}
.modal-label:hover .modal-input,
.modal-label:focus .modal-input {
  outline: 2px solid $brend-color;
}
.label-text {
  margin-bottom: 4px;
}
.modal-input {
  padding: 10px 0px 10px 35px;
  border-radius: 5px;
  background-color: white;
  border: none;
  outline: 1px solid #757575;
}
.modal-input:hover,
.modal-input:focus {
  outline: 2px solid $brend-color;
}
.modal-input:hover + .input-svg, 
.modal-input:focus + .input-svg {
  fill: $brend-color;
}
.modal-textarea {
  border-radius: 5px;
  background-color: white;
  padding: 12px 16px;
  height: 120px;
  min-width: 100%;
  border: none;
  outline: 1px solid #757575;
}
.modal-textarea:hover,
.modal-textarea :focus {
  outline: 2px solid $brend-color;
}

/* ---checkbox------------------------- */
.checkbox-label {
  display: flex;
  align-items: center;
}
.modal-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.modal-check {
  width: 0;
  height: 0;
  top: 0;
  left: 0; 
  visibility: hidden;
}


.castom-check{
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  position: relative;
}
.castom-check::before {
  content: " ";
  position: absolute;
  border-radius: 4px;
  border: 2px solid #000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.modal-check:checked + .castom-check::before{
  background-image: url(../image/svg/Vector\ \(1\).svg);
  background-color: $brend-color;
  border: none;
}
.checkbox-link {
  color: $brend-color;
  font-weight: 400;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  transition: text-shadow ease 0.2s;
  margin-left: 4px;
}

.checkbox-link:hover {
  text-shadow: 0.3px 0.3px 0.5px $brend-color, -0.3px -0.3px 0.5px $brend-color;
}

/* --input-svg--------------- */
.input-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 0;
  left: 12px;
  transform: translate(-0%, -50%);
  transition: fill $transition-duration $transition-timing-function;
}
.input-svg svg{
  width: 100%;
  height: 100%;
}

/* ---------- */
.form-button {
  display: flex;
  min-height: 50px;
  margin: 0 auto;
  padding: 0 52px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 14 * 100%);
  letter-spacing: 0.06em;
  color: $background-light;
  background-color: $brend-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color $transition-duration 
    $transition-timing-function;
}

.form-button:hover,
.form-button:focus {
  background-color: $brend-color;
}