.header {
  background-color: #FFF;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    padding: 16px 0;
  }
}

// ----menu-----------------------

.header__menu {
  margin-left: 93px;
}

