.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 20px;
  }

  &__item {
    position: relative;
  }

  &__link {
    font-weight: 500;
    display: inline-block;
    padding: var(--padding);
    line-height: calc(16 / 14 * 100%);
    letter-spacing: 0.02em;
    color: var(--header-color-dark);
    transition: color $transition-duration $transition-timing-function;
    padding: 30px 0;
    &:hover,
    &:focus {
      color: $brend-color;
    }

    &--active {
      color: $brend-color;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $brend-color;
      }
    }
  }
}